@model IEnumerable<TalentoIT.Entities.propostum>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>
<!--
<table class="table">
    <thead>
    <tr>
        
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
-->