@model TalentoIT.Entities.proposta_skill

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende apagar esta vinculação?</h3>
<div>
    <h4>Skill Proposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Proposta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_propostaNavigation.descricao)
        </dd>
        <dt class = "col-sm-2">
            Skill:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_skillNavigation.area)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_proposta_skill" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar Atrás</a>
    </form>
</div>
