@model TalentoIT.Entities.skill

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">ERRO de submissão!</h1>
<br/>
<h3>Não é possível existir experiências com o mesmo ano de começo!</h3>
<br/>
<br/>
    <a asp-action="Index">Voltar Atrás</a>

