@model TalentoIT.Entities.skill

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Area:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_skill)
        </dd>
        <dt class = "col-sm-2">
            Skill:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_skill">Editar</a> |
    <a asp-action="Index">Voltar Atrás</a>
</div>
