@model TalentoIT.Entities.user

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Dados Conta</h1>

<h4>Utilizador: @Html.DisplayFor(model => model.nome_user)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_user" />
            <div class="form-group">
                <label asp-for="email" class="control-label">Email:</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label">Password:</label>
                <input asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome_user" class="control-label">Nome utilizador:</label>
                <input asp-for="nome_user" class="form-control" />
                <span asp-validation-for="nome_user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_user" class="control-label">Tipo utilizador: @Html.DisplayFor(model => model.tipo_user)</label>
                <input asp-for="tipo_user" class="form-control" readonly="readonly" style="display: none"/>
                <span asp-validation-for="tipo_user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="morada" class="control-label">Morada:</label>
                <input asp-for="morada" class="form-control" />
                <span asp-validation-for="morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nif" class="control-label">Nif:</label>
                <input asp-for="nif" class="form-control" />
                <span asp-validation-for="nif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="media_horas" class="control-label">Média horas de trabalho diárias:</label>
                <input asp-for="media_horas" class="form-control" />
                <span asp-validation-for="media_horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

