@model TalentoIT.Entities.perfil_talento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>perfil_talento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome_talento" class="control-label"></label>
                <input asp-for="nome_talento" class="form-control" />
                <span asp-validation-for="nome_talento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preco_hora" class="control-label"></label>
                <input asp-for="preco_hora" class="form-control" />
                <span asp-validation-for="preco_hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flag" class="control-label"></label>
                <input asp-for="flag" class="form-control" />
                <span asp-validation-for="flag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_user" class="control-label"></label>
                <select asp-for="id_user" class ="form-control" asp-items="ViewBag.id_user"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

