@model TalentoIT.Entities.propostum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>propostum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_proposta" />
            <div class="form-group">
                <label asp-for="nome_proposta" class="control-label"></label>
                <input asp-for="nome_proposta" class="form-control" />
                <span asp-validation-for="nome_proposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_talento" class="control-label"></label>
                <input asp-for="tipo_talento" class="form-control" />
                <span asp-validation-for="tipo_talento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expr_minima" class="control-label"></label>
                <input asp-for="expr_minima" class="form-control" />
                <span asp-validation-for="expr_minima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_horas" class="control-label"></label>
                <input asp-for="total_horas" class="form-control" />
                <span asp-validation-for="total_horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
