@model TalentoIT.Entities.talento_skill

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende desvincular esta skill?</h3>
<div>
    <h4>Skill Talento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Skill: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_skillNavigation.area)
        </dd>
        <dt class="col-sm-2">
            Perfil Talento:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_perfil_talentoNavigation.email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_talento_skill" />
        <input type="submit" value="Desvincular" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar Atrás</a>
    </form>
</div>
