@model TalentoIT.Entities.talento_skill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>talento_skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Skill: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_skillNavigation.area)
        </dd>
        <dt class="col-sm-2">
            Perfil Talento:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_perfil_talentoNavigation.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_talento_skill">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
